body{
  font-family: Montserrat;
}
h1{
  font-family: Montserrat;
  font-weight: 900;
  color: white;
  line-height: 1.5;
  font-size: 3.5rem;
}

h2{
  line-height: 1.5;
  font-size: 3rem;
  font-weight: bold;
}
h3{
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: 1rem;
}
p{
  color:#8f8f8f;
}
.fas{
  color:#ef8172;
  font-size:5rem;
}
.fas:hover{
  color:#ff4c68;
}
#features{
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  position: relative;
}
#title{
  background-color: #ff4c68;
  }
#tindog{
  font-family: Ubuntu;
  font-weight: 500;
  font-size: 2.5rem;
}
.navbar{
  padding:0 0 4.5rem;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.title-image{
  position: absolute;
  width: 18rem;
  right:15%;
  transform: rotate(25deg);

}
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: white;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px;
}
#press{
  padding: 7% 15%;
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.brandpartners{
  width: 15%;
  margin:20px 20px 15px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  text-align: center;
  padding: 7% 15%;
}
.card{
  margin: 5% 0;
}
#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
  color:white;

}
#footer{
  text-align: center;
  padding-top: 1%;
}
@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0deg);
  }
  h1{
    text-align: center;
  }
  .ohboy{
    text-align: center;
  }
}
